body{
  background:#020617;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.buttons button{
  margin:0 6px;
  padding:8px 14px;
  cursor:pointer;
}

#alert{
  position:fixed;
  top:20px;
  right:20px;
  padding:12px 18px;
  border-radius:10px;
  display:none;
  font-weight:bold;
}

#alert.success{ background:#22c55e; color:#022c22; }
#alert.error{ background:#ef4444; color:white; }
#alert.warning{ background:#facc15; color:#022c22; }
